<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library App</title>
</head>
<body>
    <header>
        <a href="/" id="logo">LIbApp</a>
        <nav>
            <ul>
                <li>
                    <a href="/authors">Authors</a>
                    <a href="/books">Books</a>
                    <a href="/profile">My Profile</a>    
            </ul>
        </nav>
    </header>
    <main>

        <section id="Hero">
            <h1>Authors</h1>
            <form action="">
                <Label for="id">ID</Label>
                <input type="number" name="id" id="id">
                <label for="name">Name</label>
                <input type="text" name="" id="name">
                <label for="YOB">YOB</label>
                <input type="number" name="YOB" id="YOB">
                <label for="nationality">Nationality</label>
                <input type="text" name="nationality" id="nationality">
                <label for="bio">Bio</label>
                <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
                <input type="submit" value="Add Author">
            </form>
        </section>

    </main>
    <footer>
        <p>libApp &copy; <%=new Date() .getFullYear() %>.All Rights Reserved</p>
    </footer>
</body>
</html>