<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library App</title>
</head>
<body>
    <header>
        <a href="/" id="logo">LIbApp</a>
        <nav>
            <ul>
                <li>
                    <a href="/authors">Authors</a>
                    <a href="/books">Books</a>
                    <a href="/profile">My Profile</a>    
            </ul>
        </nav>
    </header>
    <main>

        <section id="Hero">
            <h1>Authors</h1>
        </section>

    </main>
    <footer>
        <p>libApp &copy; <%=new Date() .getFullYear() %>.All Rights Reserved</p>
    </footer>
</body>
</html>